footer {
    background: #000000;
    position: fixed;
    bottom: 0px;
    padding: 10px 0px 10px 0px;
    .logo-deposit {
        display: block;
        padding: 5px 0 5px 20px;
    }

    .img-id {
        color: #FFFFFF;
        font-family: Verdana, arial;
        font-size: 14px;
        line-height: 40px;
    }


}

